
@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400;
}
/* body {
  background: #0f172a;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
}

.card {
  background: #1e293b;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

input, select {
  background: #0f172a;
  border: 1px solid #334155;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

button {
  background: linear-gradient(135deg, #6366f1, #22c55e);
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
} */